<!DOCTYPE html>
<html>

<head>
  <title>Language Sheet</title>
  <link type='text/css' rel='stylesheet' href='index.css'>
  <link type='text/css' rel='stylesheet' href='http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css'>
</head>

<body>

<ul id='select_lang'>
  {{#each languages}}
  <li><input type='checkbox' value='{{@index}}' checked data-name='{{this}}'>{{this}}</li>
  {{/each}}
</ul>

<table id='sheet'>
  {{#each groups}}
  <tbody>
    <tr class='group_title'>
      <td colspan='{{../table_columns}}'>{{title}}</td>
    </tr>
    <tr class='language_list'>
      <td></td>
      {{#each ../languages}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    {{#each items}}
    <tr class='item'>
      {{#getSheetContent this '_title'}}
      <td class='{{this.cell_class}}'>
        {{format this}}
      </td>
      {{/getSheetContent}}
      {{#each ../../languages}}
      {{#getSheetContent ../this this}}
      <td class='{{this.cell_class}}'{{#if this.note}} title='{{this.note}}'{{/if}}>
        {{format this.body}}
      </td>
      {{/getSheetContent}}
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
  {{/each}}
</table>

<script src='http://code.jquery.com/jquery-1.10.2.min.js' type='text/javascript'></script>
<script src='http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js' type='text/javascript'></script>
<script src='index.js' type='text/javascript'></script>

</body>

</html>
