<!DOCTYPE html>
<html>

<head>
  <title>Language Sheet</title>
  <link type='text/css' rel='stylesheet' href='index.css'>
</head>

<body>

<ul id='select_lang'>
  {{#each languages}}
  <li><input type='checkbox' value='{{@index}}' checked>{{this}}</li>
  {{/each}}
</ul>

<table id='sheet'>
  <thead>
    <th></th>
    {{#each languages}}
    <th>{{this}}</th>
    {{/each}}
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>
        {{#getSheetContent this '_title'}}
          {{format this}}
        {{/getSheetContent}}
      </td>
      {{#each ../languages}}
      <td>
        {{#getSheetContent ../this this}}
          {{format this.body}}
        {{/getSheetContent}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>

<script src='http://code.jquery.com/jquery-1.10.2.min.js' type='text/javascript'></script>
<script src='index.js' type='text/javascript'></script>

</body>

</html>
